name: Publish
on:
  push:
    branches: [ '**' ]
    paths-ignore:
      - '**.md'
  release:
    types: [ published ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and Publish
        run: |
          ./gradlew build publish -x test --no-daemon \
          -PMAVEN_USERNAME=${{ secrets.MAVEN_USERNAME }} \
          -PMAVEN_PASSWORD=${{ secrets.MAVEN_PASSWORD }} \
          -PMAVEN_CENTRAL_USERNAME=${{ secrets.MAVEN_CENTRAL_USERNAME }} \
          -PMAVEN_CENTRAL_PASSWORD=${{ secrets.MAVEN_CENTRAL_PASSWORD }}

      - name: Upload api Artifact
        uses: actions/upload-artifact@v6
        with:
          name: api
          path: api/build/libs/api-*.jar

      - name: Upload impl-jni Artifact
        uses: actions/upload-artifact@v6
        with:
          name: impl-jni
          path: impl-jni/build/libs/impl-jni-*.jar
